.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.post{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 100px 0px 100px;
  position: absolute;
  
}
.card{
  /* height: 400px; */
  width: 400px;
  height: 300px;
  text-align: justify;  
}

.MuiTableRow-root:last-child td{
  text-align: justify;
}

.comments{
  position: absolute;
}

.MuiCardContent-root:last-child{
  position: absolute;
  background-color: black;
  color: 'white';
  z-index: 1;
  width: 400px;
}

.MuiTableRow-root:last-child td{
  background: black;
  color: white;
}

.MuiTableCell-root{
  /* background-color: black; */
  color:white
}
.MuiTableRow-root:last-child th{
  color:white;
  background-color: black;
}
.link{
  text-decoration: none;
    color: white;
    margin-left: 15px;
}
